<div th:fragment="header" class="container header">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="/simple_admin_panel/main-page" class="d-inline-flex link-body-emphasis text-decoration-none">
                <h1 class="sign">AdminPanel</h1>
            </a>
        </div>

        <div class="col-md-3 text-end" th:if="${login == null}">
            <a href="/simple_admin_panel/login" type="button" class="btn btn-outline-primary me-2">Login</a>
            <a href="/simple_admin_panel/register" type="button" class="btn btn-primary">Register</a>
        </div>

        <div class="d-flex align-items-center" th:unless="${login == null}">
            <h4 th:text="'User: ' + ${login}" style="margin-right: 30px">Login</h4>
            <form action="/simple_admin_panel/logout" method="POST">
                <button type="submit" class="btn btn-primary">Logout</button>
            </form>
        </div>

    </div>
</div>